.idea/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
**/bin/
**/obj/
**/out/

# NuGet / packages
.nuget/packages/
packages/
*.nupkg
*.snupkg
*.nuspec

# Logs / test
*.log
TestResult*/
TestResults/
*.coverage
*.coveragexml

# Binaries
*.dll
*.pdb
*.exe

# Tooling
_ReSharper*/
*.DotSettings.user
.sonarqube/
.scannerwork/
.vsconfig

# Temp
*.tmp
*.swp
*.swo
*.userprefs
